body {font-family: monospace;background-color: #4bc1d9;overflow: hidden;height: 600px;
  }
.button{
  background-color:#4797ce;
}
.th{
  text-align: center;
}
.konten{
  margin-left:2%;
  margin-top:2%;
  margin-right:2%;
  position: relative;
}
.content{
  background-color: #f5f5f5;
  border: 2px solid #ffff;
  padding: 20px;
  border-top-right-radius: 14px;
  padding-right: 20%;
  
}
.sidebar{
  border: 2px solid #00365c;
  border-top-left-radius: 14px;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #00365c;
  position: fixed;
  height: 93%;
  border: 2px solid #00365c;
  border-bottom-left-radius: 14px;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: 	 	 #0d4871;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #0d4871;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 808px;
  border-bottom-right-radius: 14px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .content{
    height: 752px;
  }
}
@media (max-height:800px){
  .content{
    height: 742px;
  }
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .content{
    height: 200px;
  }
}

.logout{
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.content-isi{
  margin-left: 12%;
  margin-right: 5%;
  overflow:auto;
  margin-top:2%;
  background-color: white;
  padding : 20px;
}
mark{
  background-color: #4797ce;
  border-radius: 30%;
  color:white;
  padding-left :10px;
  padding-right :10px;
}